<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Maltabu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6224111FDA611634AAF0632844803861357BA9C2</string>
				<key>dateExpires</key>
				<string>01/10/2020</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AKMaskField.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AXPhotoViewer.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AXStateButton.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DRPLoadingSpinner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>InputBarAccessoryView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>InputMask.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JTMaterialSpinner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PINCache.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PINRemoteImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SideMenuSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftValidator.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YandexMobileAds.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YandexMobileMetrica.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YandexMobileMetricaCrashes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YangMingShan.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6224111FDA611634AAF0632844803861357BA9C2</string>
						<key>dateExpires</key>
						<string>01/10/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4DW5MD9LY</string>
						<key>name</key>
						<string>Yerbol Abdraymov</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y4DW5MD9LY.com.elefanto.Maltabu</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>Y4DW5MD9LY</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>Y4DW5MD9LY.com.elefanto.Maltabu</string>
				</array>
			</dict>
			<key>name</key>
			<string>Maltabu.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>207a2024-491c-4bcf-9c11-0f1e98dfce1e</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.elefanto.Maltabu</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y4DW5MD9LY</string>
				<key>name</key>
				<string>Yerbol Abdraymov</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
